@import "tailwindcss";

body {
    background: transparent;
    overflow: hidden;
    user-select: none;
}

.expand-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.expand-wrapper.open {
    grid-template-rows: 1fr;
}

.expand-inner {
    overflow: hidden;
}